__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.installed.cfg

venv/
.venv/
env/
.env_bak/

.idea/
.vscode/

.env

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
